* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
body nav.upper {
  display: flex;
  background: linear-gradient(125deg, rgb(39, 207, 26) 50%, rgb(2, 49, 6) 50%);
  width: 100%;
}
@media (max-width: 900px) {
  body nav.upper {
    background: black;
  }
}
@media (max-width: 600px) {
  body nav.upper {
    background: red;
  }
}
body nav.upper .row {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}
body nav.upper .row ul {
  display: flex;
  gap: 10px;
}
body nav.upper .row ul li {
  margin: 10px;
  list-style: none;
  margin-left: auto;
}
body nav.upper .row ul li a i {
  color: white;
  border-left: 1px solid white;
  padding-left: 5px;
}

header.mid {
  background: linear-gradient(125deg, rgb(37, 57, 36) 50%, rgb(4, 94, 12) 50%);
  margin-top: 0px;
  padding: 1px;
  width: 100%;
}
@media (max-width: 900px) {
  header.mid {
    background: black;
  }
}
@media (max-width: 600px) {
  header.mid {
    background: red;
  }
}
header.mid .mid1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}
header.mid .mid1 ul li {
  list-style: none;
}
header.mid .mid1 ul li a {
  color: white;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}
header.mid .mid1 ul li a:hover {
  color: black;
  background-color: white;
}

nav.lower {
  background: linear-gradient(125deg, rgb(16, 83, 10) 50%, rgb(26, 170, 39) 50%);
  width: 100%;
  height: 80px;
}
@media (max-width: 900px) {
  nav.lower {
    background: black;
  }
}
@media (max-width: 600px) {
  nav.lower {
    background: red;
  }
}

section.image {
  width: 100%;
  margin-top: 20px;
}
section.image img {
  height: 800px;
  width: 100%;
}

section.heading {
  width: 100%;
}
section.heading .h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
section.heading .h2 h2 {
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

section.table {
  width: 100%;
  display: flex;
  justify-content: center;
}
section.table .table1 {
  border: 1px solid black;
  border-collapse: collapse;
}
section.table .table1 thead tr {
  border: 1px solid black;
}
section.table .table1 thead tr th {
  border: 1px solid black;
  padding: 20px;
}
section.table .table1 tbody {
  border: 1px solid black;
}
section.table .table1 tbody tr {
  border: 1px solid black;
}
section.table .table1 tbody tr td {
  border: 1px solid black;
  padding: 20px;
  margin-right: auto;
}

section.heading1 {
  width: 100%;
}
section.heading1 .h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.heading1 .h2 h2 {
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

section.team-iamges {
  width: 90%;
}
section.team-iamges .images1 {
  display: flex;
  flex-wrap: wrap;
}
section.team-iamges .images1 img {
  width: 15%;
  min-width: 15% px;
  max-width: 15% px;
  flex: 1 0 160px;
}

section.heading2 .h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.heading2 .h2 h2 {
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

section.score-board {
  width: 80%;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}
section.score-board .h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
section.score-board .h1 h1 {
  width: 22%;
  font-size: 4rem;
}
section.score-board .p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
section.score-board .p p {
  margin-top: 0px;
  width: 20%;
  font-size: 30px;
}

section.video {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.heading3 {
  width: 100%;
}
section.heading3 .h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.heading3 .h2 h2 {
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

section.images-6 {
  width: 75%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
section.images-6 .image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
section.images-6 .image img {
  width: 30%;
  max-width: 25%;
  min-width: 25%;
  flex: 1 0 25%;
}

section.heading4 {
  width: 100%;
}
section.heading4 .h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.heading4 .h2 h2 {
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

section.image-sponsor {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
section.image-sponsor .image img {
  width: 100%;
}

section.second-last {
  width: 40%;
  display: flex;
}
section.second-last .left .links {
  display: flex;
  flex-direction: column;
}
section.second-last .left .links ul {
  list-style: none;
}
section.second-last .left .links ul li {
  margin-top: 10px;
}
section.second-last .left .links ul li a {
  color: black;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1rem;
}
section.second-last .left .links ul li a i {
  margin-right: 10px;
  font-size: 2rem;
}
section.second-last .left .icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.second-last .left .icon-links a {
  margin-left: 10px;
}
section.second-last .left .icon-links a i {
  margin-left: 5px;
}
section.second-last .right {
  width: 45%;
  margin-left: 50px;
}
section.second-last .right .images img {
  width: 100%;
}
section.second-last .right .lower a img i {
  color: black;
}

footer.footer {
  width: 100%;
  height: 100px;
  background-color: green;
}
@media (max-width: 991px) {
  footer.footer {
    background-color: red;
  }
}
footer.footer p {
  margin-left: 40px;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */